<html>
<%- include("mixins/head")%>

<body class="container">
<%- include("mixins/nav")%>
<% for(var i = 0; i < data.Files.length ; i++) {%>


<a href="/project/<%= data.projectID %>/file/<%= data.Files[i].fileID %>"><%= data.Files[i].fileName %><%= data.Files[i].fileType %></a>
<%}%>

<div class="row">

    <div class="form-group">
<div id="newReturn">
        <form method="post" action="/project/<%=data.projectID%>/decrypt">

            <h4>Return File Data</h4><input type="text" name="fileData"/>

            <button type="submit">Submit</button>
        </form>
</div>
<br>
        <br>

        <div id="newFile">

            <form class="row g-3 needs-validation" novalidate method="post" action="/project/<%=data.projectID%>">
                <div class="col-md-4">
                    <label for="validationFile" class="form-label">File Name</label>
                    <input type="text" class="form-control" id="validationFile" value="KEY" name="name" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom02" class="form-label">File Type</label>
                    <input type="text" class="form-control" id="validationCustom02" value="VALUE" name="type" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustomUsername" class="form-label">Comments</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="validationCustom03" class="form-label">Field</label>
                    <input type="text" class="form-control" id="validationCustom03" name="field" required>
                    <div class="invalid-feedback">
                        Please provide a valid city.
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="validationCustom05" class="form-label">Data</label>
                    <input type="text" class="form-control" id="validationCustom05" name="data"required>
                    <div class="invalid-feedback">
                        Please provide a valid zip.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">Project Cycle</label>
                    <select class="form-select" id="validationCustom04" name="cycle" required>
                        <option>Production</option>
                        <option>Development</option>
                        <option>Testing</option>
                        <option>Staging</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid state.
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                            Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                            You must agree before submitting.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <input type="hidden" id="count" name="count">
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
            </form>
        <button onclick="add_fields(); countFields()">+</button>
    </div>

    </div>

</div>
</body>
</html>